flows/TeslaMS Sample Logger.json
[{"id":"723049eb.8dcfb8","type":"command","name":"","command":"get_drive_state","x":544.5351867675781,"y":122.15148162841797,"z":"84db06cb.7b24f8","wires":[["b57c8b56.4a8378","e9e78603.161878"]]},{"id":"b57c8b56.4a8378","type":"debug","name":"drive state data","active":true,"console":"false","complete":"true","x":681.4344482421875,"y":34.09089660644531,"z":"84db06cb.7b24f8","wires":[]},{"id":"47d2aff8.b82d5","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":353.5453338623047,"y":126.81817626953125,"z":"84db06cb.7b24f8","wires":[["723049eb.8dcfb8","936f6d76.6c909"]]},{"id":"a72cfb51.58d308","type":"inject","name":"auth","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":97.33330535888672,"y":59,"z":"84db06cb.7b24f8","wires":[["9fb2077c.604df8"]]},{"id":"9fb2077c.604df8","type":"login","name":"","x":126.48734283447266,"y":120.2752685546875,"z":"84db06cb.7b24f8","wires":[["f0e5fa1.f0f1a08"]]},{"id":"f0e5fa1.f0f1a08","type":"json","name":"","x":161.22473907470703,"y":182.92459106445312,"z":"84db06cb.7b24f8","wires":[["47d2aff8.b82d5"]]},{"id":"e9e78603.161878","type":"csv","name":"drive state data","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"shift_state, speed, latitude, longitude, heading, gps_as_of","x":587.0910949707031,"y":200.90907287597656,"z":"84db06cb.7b24f8","wires":[["e7d91b04.1826e8","24151842.dbeae8"]]},{"id":"e7d91b04.1826e8","type":"debug","name":"in csv form","active":true,"console":"false","complete":"false","x":742.9092102050781,"y":142.4545669555664,"z":"84db06cb.7b24f8","wires":[]},{"id":"24151842.dbeae8","type":"file","name":"/tmp/tesla_data.csv","filename":"/tmp/tesla_data.csv","appendNewline":false,"overwriteFile":false,"x":714.9091033935547,"y":297.90909576416016,"z":"84db06cb.7b24f8","wires":[]},{"id":"936f6d76.6c909","type":"delay","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":354.27272033691406,"y":213.7273178100586,"z":"84db06cb.7b24f8","wires":[["47d2aff8.b82d5"]]},{"id":"3679215c.c986de","type":"comment","name":"Example Data Logger","info":"This example polls the Tesla every 15 seconds for its\ndrive state data and then logs the results in a CSV file\nor analysis and visualization.","x":336.0909118652344,"y":47.090911865234375,"z":"84db06cb.7b24f8","wires":[]}]